.swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
}

.swiper {
    width: 100%;
    height: 100%;
}



#favoriteBrand {
    height: 240px;
}

.swiper-button-prev,
.swiper-button-next {
    color: black;
}

.swiper-button-prev:after,
.swiper-button-next:after {
    font-size: 20px;
}

.swiper-pagination-bullet-active{
    background-color: black;
}