.swiper-slide{
    display: flex;
    align-items: center;
    justify-content: center;
}
.swiper{
   /* dsd */
}

#mostWantedProducts{
    height: 460px;
}

#favoriteBrand{
    height: 240px;
}

.swiper-button-prev, .swiper-button-next{
    color: black;
    
}

